
img#anbutton {
    border-radius: 10px;
  }

#anbutton:hover {
      animation: rotate 0.7s ease-in-out both;
}


@keyframes rotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
        box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
    }
    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }
    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
        box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
    }
}